.card_selector {
    color: black;
    display: flex;
    background-color: grey;
    border: 1px solid black;
    border-radius: 12px;
    /*padding: 10px 10px;*/
    width: 250px;
    height: 80px;
    cursor: pointer;
    margin: 1.5rem auto;
    align-items: center;
    justify-content: center;
}

.card_selector a {
}

.card_position {
    display: flex;
    flex-direction: column;
}

.card_position_up {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 10em;
    flex-direction: row;
    min-width: fit-content;
    max-width: 100px;
}

.card_position_down {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 10em;
    flex-direction: row;
    min-width: fit-content;
    max-width: 100px;
}